@import "tailwindcss";

/* Hide scrollbar while preserving scroll behavior for horizontal lists (Chrome, Safari, Firefox, Edge, IE) */
.hide-scrollbar {
	-ms-overflow-style: none; /* IE and Edge */
	scrollbar-width: none; /* Firefox */
}
.hide-scrollbar::-webkit-scrollbar {
	display: none; /* Chrome, Safari and Opera */
}